
        <section class="contact section-padding" data-scroll-index="6">
          <div class="container">
              <div class="row">
  
                
                  <div class="col-lg-5">
                      <div class="contact-info mb-md50">
                          <h5>Contact Us :</h5>
                          <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                          <div class="item">
                              <span class="icon icon-basic-tablet"></span>
                              <div class="cont">
                                  <h6>Mobile : </h6>
                                  <p>+91 9205612346</p>
                              </div>
                          </div>
                          <div class="item">
                              <span class="icon icon-basic-mail-open-text"></span>
                              <div class="cont">
                                  <h6>Email : </h6>
                                  <p>support@staravia.in</p>
                              </div>
                          </div>
                          <div class="item">
                              <span class="icon icon-basic-geolocalize-05"></span>
                              <div class="cont">
                                  <h6>Registered Address : </h6>
                                  <p>RZ Sadh Nagar Palam, New Delhi-
                                      </p>
                              </div>
                          </div>
                          <div class="item">
                              <div class="cont">
                                  <h6>Correspondence Address : </h6>
                                  <p>V 35/13, DLF Phase 3, Gurgaon, Haryana
                                      
                                      </p>
                              </div>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-lg-7">
                      <form class="form" id="contact-form" method="post" action="contact.php">
  
                          <div class="messages"></div>
  
                          <div class="controls">
  
                              <div class="row">
  
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                      </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                      </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <textarea id="form_message" name="message" placeholder="Message" rows="4"
                                              required="required"></textarea>
                                      </div>
                                  </div>
  
                                  <div class="col-md-12">
                                      <button type="submit" class="butn butn-bg"><span>Send Message</span></button>
                                  </div>
  
                              </div>
                          </div>
                      </form>
                  </div>
  
              </div>
          </div>
      </section>
  
      <!-- End Contact ====
          ======================================= -->
  
   
