
    <nav class="navbar navbar-expand-lg">
      <div class="container">

          <!-- Logo -->
          <a class="logo" href="#">
              <img src="assets/img/logo-light.png" alt="logo">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"><i class="fas fa-bars"></i></span>
          </button>

          <!-- navbar links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"> 
                      <a class="nav-link"  [class.active]="router.url === '/'" [routerLink]="['/']" >Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link"  [class.active]="router.url === '/about'" [routerLink]="['/about']">About Us</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [class.active]="router.url === '/product-and-services'" [routerLink]="['/product-and-services']" >Product & Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [class.active]="router.url === '/blog'" [routerLink]="['/blog']" >Blog</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [class.active]="router.url === '/contact'" [routerLink]="['/contact']">Contact</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>