

    <!-- =====================================
        ==== Start Hero -->

        <section class="hero" data-scroll-index="1">
            <div class="section-padding pos-re">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 text-center mb-80">
                            <h4 class="extra-title">About <span>Star Aviation India </span></h4>
                            <!-- <p>We are mainly engaged in supply & repair of spares of Russian Origin
                                Aircrafts, Helicopters, RADAR & communication, GSE/GHE, Mechanical Heavy Machinery and
                                Tools & testers. </p> -->

                            <p>STAR AVIATION INDIA is proprietorship Company incorporated in 2011 at New Delhi,
India. Since then, the company is engaged in supply of aviation equipment for all type of
Russian/CIS made Aircraft and Helicopters.</p><p>
We would be pleased to inform you that Star Aviation India”SAI” is also authorized by
OEM to undertake different types of repair / Overhaul of major assemblies such as gear
boxes, tail rotor and tail rotor blades etc.</p><p>
Star Aviation India “SAI” has long term agreement with Russian OEMs/Plants for
supply. repair and overhaul of aviation equipments.</p><p>
Star Aviation India “SAI” has mutual agreement with Russian Aviation Company Ltd for
support and supply of vide range of consumable and standardized aviation items for all
type of Russian aircrafts and Helicopters, Including hoses, pipes, valves, blocks and
ground equipment.</p><p>
We are also engaged in design, Development, Supply &amp; Repair of
COMPONENTS OF RUSSIAN ORIGIN
AIRCRAFT/HELICOPTER, OTHER DEFENCE SYSTEM,
GHE/GSE, RADAR &amp; COMMUNICATION SYSTEM, HEAVY
MACHINERY AND TOOLS &amp; TESTER.
We also provide LOGISTICS SUPPORT TO THE FOREIGN OEM, REPRESENTATION
OF FOREIGN OEM IN INDIA, CHARTER SERVICES: LEASE/PURCHASE OF
HELICOPTERS &amp; AIRCRAFTS &amp; MARKETING RESEARCH REPORTS, BUSINESS
REPORTS FOR INDIA, INDIAN SUBCONTINENT COUNTRIES NEPAL,
BANGLADESH, SRILANKA, VIETNAM &amp; SOUTH EAST ASIAN COUNTRIES.</p>

                        </div>
    
                        <div class="feat-item mb-md50 col-lg-4 offset-lg-2">
                            <div class="text-center">
                                <span class="icon icon-basic-paperplane"></span>
                                <h5>Supply</h5>
                                <h6>Russian CIS origin equipments</h6>
                                <p>COMPONENTS OF
                                    RUSSIAN ORIGIN
                                    AIRCRAFT/HELICOPTER,
                                    OTHER DEFENCE
                                    SYSTEM, GHE/GSE,
                                    RADAR &amp;
                                    COMMUNICATION
                                    SYSTEM, HEAVY
                                    MACHINERY AND TOOLS &amp; TESTER)</p>
                                <br><br>
                                <br><br>
                            </div>
                        </div>
    
                        <div class="feat-item active mb-md50 col-lg-4">
                            <div class="text-center">
                                <span class="icon icon-basic-gear"></span>
                                <h5>Services</h5>
                                <h6>Russian CIS origin equipments</h6>
                                <p>LOGISTICS SUPPORT TO
                                    THE FOREIGN OEM,
                                    REPRESENTATION OF
                                    FOREIGN OEM IN INDIA,
                                    CHARTER SERVICES:
                                    LEASE/PURCHASE OF
                                    HELICOPTERS &amp; AIRCRAFTS
                                    &amp; MARKETING RESEARCH
                                    REPORTS, BUSINESS REPORTS FOR INDIA, INDIAN
                                    SUBCONTINENT COUNTRIES
                                    NEPAL, BANGLADESH,
                                    SRILANKA, VIETNAM &amp;
                                    SOUTH EAST ASIAN
                                    COUNTRIES</p>
                            </div>
                        </div>
    
                        <!-- <div class="feat-item col-lg-4">
                            <div class="text-center">
                                <span class="icon icon-basic-cards-diamonds"></span>
                                <h5>Branding</h5>
                                <h6>Logo & Motion Design</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry</p>
                            </div>
                        </div> -->
    
                    </div>
                </div>
                <div class="curve curve-gray-b curve-bottom"></div>
            </div>
    
           
        </section>
    
        <!-- End Hero ====
            ======================================= -->
    
    
         
    
        <!-- =====================================
            ==== Start Teams -->
    
        <section class="team section-padding bg-gray" data-scroll-index="3">
            <div class="container">
                <div class="row">
    
                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4><span>Talent</span> Team</h4>
                        <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital
                            design & web development services.</p>
                    </div>
    
                    <div class="owl-carousel owl-theme">
                       
    
                        <div class="item">
                            <!-- <div class="team-img">
                                <img src="assets/img/team/3.jpg" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div> -->
                            <div class="info">
                                <h6>Som Dutt Sharma</h6>
                                <span>Director General</span>
                                <span>Having vast working experience in the field of Aviation Industry for more than 25 years</span>
                            </div>
                        </div>
    
                        <div class="item">
                            <!-- <div class="team-img">
                                <img src="assets/img/team/4.jpg" alt="">
                                <div class="social">
                                    <a href="#0" class="icon">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#0" class="icon">
                                        <i class="fab fa-behance"></i>
                                    </a>
                                </div>
                            </div> -->
                            <div class="info">
                                <h6>Akhil Sharma</h6>
                                <span>Senior Manager (Sales & Marketing)</span>
                                <span>Post graduate in the field of Economics</span>   
                            </div>
                        </div>
    
                        
    
                        <div class="item">
                                <!-- <div class="team-img">
                                    <img src="assets/img/team/2.jpg" alt="">
                                    <div class="social">
                                        <a href="#0" class="icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#0" class="icon">
                                            <i class="fab fa-behance"></i>
                                        </a>
                                    </div>
                                </div> -->
                                <div class="info">
                                    <h6>Abhimanyu Kumar</h6>
                                    <span>Aerospace Engineering</span>
                                    <span>Graduated in the field of AEROSPACE ENGINEERING and a highly efficient, innovative and agile experience personnel in Aerospace, Defence and Machine & Tools Industry with more than six years of experience. Proven experience in identifying, analyzing, exploiting market opportunities and formulating marketing strategy for development of new & current ongoing Businesses. Well versed with Procurement Procedures [DPP (Defence Procurement Procedure) for capital procurement, OFFSET & DPM (Defence Procurement Manual) for revenue Procurement] of Ministry of Defence, Govt. of India.
                                        </span>
                                </div>
                            </div>
    
                      
                    </div>
    
                </div>
            </div>
        </section>
    
        <!-- End Teams ====
            ======================================= -->
    
    
    
        <!-- =====================================
            ==== Start Testimonials -->
    
        <section class="testimonials section-padding bg-img bg-fixed pos-re" data-overlay-dark="7" data-background="assets/img/bg4.jpg">
            <div class="container">
                <div class="row">
    
                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>What's <span>Clients</span> Says?</h4>
                        <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital
                            design & web development services.</p>
                    </div>
    
                    <div class="owl-carousel owl-theme text-center col-lg-10 offset-lg-1">
                        <div class="item-box">
                            <span class="quote">
                                <img src="assets/img/quot.png" alt="">
                            </span>
                            <p>Lorem Ipsum is simply dummy text a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <div class="info">
                                <div class="author-img">
                                    <img src="assets/img/clients/1.jpg" alt="">
                                </div>
                                <div class="cont">
                                    <h6>Alex Smith</h6>
                                    <span>Envato Customer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <span class="quote">
                                <img src="assets/img/quot.png" alt="">
                            </span>
                            <p>Lorem Ipsum is simply dummy text a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <div class="info">
                                <div class="author-img">
                                    <img src="assets/img/clients/2.jpg" alt="">
                                </div>
                                <div class="cont">
                                    <h6>Alex Smith</h6>
                                    <span>Envato Customer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <span class="quote">
                                <img src="assets/img/quot.png" alt="">
                            </span>
                            <p>Lorem Ipsum is simply dummy text a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <div class="info">
                                <div class="author-img">
                                    <img src="assets/img/clients/3.jpg" alt="">
                                </div>
                                <div class="cont">
                                    <h6>Alex Smith</h6>
                                    <span>Envato Customer</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-box">
                            <span class="quote">
                                <img src="assets/img/quot.png" alt="">
                            </span>
                            <p>Lorem Ipsum is simply dummy text a galley of type and scrambled it to make a type specimen
                                book.</p>
                            <div class="info">
                                <div class="author-img">
                                    <img src="assets/img/clients/4.jpg" alt="">
                                </div>
                                <div class="cont">
                                    <h6>Alex Smith</h6>
                                    <span>Envato Customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <div class="curve curve-top"></div>
        </section>
    
        <!-- End Testimonials ====
            ======================================= -->
    
    
        <!-- =====================================
            ==== Start Blog -->
    
        <section class="blog section-padding" data-scroll-index="5">
            <div class="container">
                <div class="row">
    
                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4><span>Latest</span> News</h4>
                        <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital
                            design & web development services.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="item mb-md50">
                            <div class="post-img">
                                <div class="img">
                                    <img src="assets/img/blog/1.jpg" alt="">
                                </div>
                            </div>
                            <div class="cont">
                                <div class="info">
                                    <a href="#0">By : Admin</a>
                                    <a href="#0">06 Aug 2017</a>
                                    <a href="#0" class="tag">WordPress</a>
                                </div>
                                <h6><a href="#0">48 Best WordPress Themes</a></h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum
                                    has been the dummy text ever</p>
                                <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="item mb-md50">
                            <div class="post-img">
                                <div class="img">
                                    <img src="assets/img/blog/2.jpg" alt="">
                                </div>
                            </div>
                            <div class="cont">
                                <div class="info">
                                    <a href="#0">By : Admin</a>
                                    <a href="#0">06 Aug 2017</a>
                                    <a href="#0" class="tag">WordPress</a>
                                </div>
                                <h6><a href="#0">48 Best WordPress Themes</a></h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum
                                    has been the dummy text ever</p>
                                <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="post-img">
                                <div class="img">
                                    <img src="assets/img/blog/3.jpg" alt="">
                                </div>
                            </div>
                            <div class="cont">
                                <div class="info">
                                    <a href="#0">By : Admin</a>
                                    <a href="#0">06 Aug 2017</a>
                                    <a href="#0" class="tag">WordPress</a>
                                </div>
                                <h6><a href="#0">48 Best WordPress Themes</a></h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum
                                    has been the dummy text ever</p>
                                <a href="#0" class="more">Read More <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
    
        <!-- End Blog ====
            ======================================= -->
    
    
        <!-- =====================================
            ==== Start Call-Action -->
    
        <section class="call-action section-padding bg-img bg-fixed" data-overlay-dark="5" data-background="assets/img/bg2.jpg">
            <div class="container">
                <div class="row">
    
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2>Want to work with us?</h2>
                            <h5>If you love to meet people and wants utilize your god
                                gifted &amp; wonderful skills then please mail your
                                resume/CV at <a href="mailto:staraviationindia@gmail.com">staraviationindia@gmail.com</a></h5>
                            <a href="#0" class="butn butn-bg">
                                <span>Get Started</span>
                            </a>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
    
        <!-- End Call-Action ====
            ======================================= -->
    
    
        <!-- =====================================
            ==== Start Contact -->
    
        <section class="contact section-padding" data-scroll-index="6">
            <div class="container">
                <div class="row">
    
                    <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                        <h4>Get <span>In</span> Touch</h4>
                        <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital
                            design & web development services.</p>
                    </div>
    
                    <div class="col-lg-5">
                        <div class="contact-info mb-md50">
                            <h5>Contact Us :</h5>
                            <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                            <div class="item">
                                <span class="icon icon-basic-tablet"></span>
                                <div class="cont">
                                    <h6>Mobile : </h6>
                                    <p>+91 9205612346</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-mail-open-text"></span>
                                <div class="cont">
                                    <h6>Email : </h6>
                                    <p>support@staravia.in</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-geolocalize-05"></span>
                                <div class="cont">
                                    <h6>Registered Address : </h6>
                                    <p>RZ Sadh Nagar Palam, New Delhi-
                                        </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="cont">
                                    <h6>Correspondence Address : </h6>
                                    <p>V 35/13, DLF Phase 3, Gurgaon, Haryana
                                        
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-7">
                        <form class="form" id="contact-form" method="post" action="contact.php">
    
                            <div class="messages"></div>
    
                            <div class="controls">
    
                                <div class="row">
    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message" rows="4"
                                                required="required"></textarea>
                                        </div>
                                    </div>
    
                                    <div class="col-md-12">
                                        <button type="submit" class="butn butn-bg"><span>Send Message</span></button>
                                    </div>
    
                                </div>
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </section>
    